In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('data_updated.csv')
data.head()

,Timestamp,Age,Gender,Education,Living_Area,Marital_Status,Family_Type,Coronavirus,1s,2a,...,12s,13d,14s,15a,16d,17d,18s,19a,20a,21d
0,18/09/2022 19:41:35,26,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,"Applied to me to some degree, or some of the time",Applied to me very much or most of the time,...,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,Applied to me very much or most of the time
1,18/09/2022 20:02:19,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,"Applied to me to some degree, or some of the time",Did not apply to me at all,...,Applied to me very much or most of the time,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...
2,19/09/2022 12:31:29,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,Did not apply to me at all,Did not apply to me at all,...,Did not apply to me at all,Did not apply to me at all,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Did not apply to me at all,"Applied to me to some degree, or some of the time",Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all
3,19/09/2022 12:34:08,23,Male,Master's,"Urban(Town,City)",Unmarried,Joint,Yes,Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time",...,Applied to me very much or most of the time,Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,Applied to me very much or most of the time
4,19/09/2022 12:45:44,24,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",...,Did not apply to me at all,"Applied to me to some degree, or some of the time",Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Did not apply to me at all,Did not apply to me at all

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       333 non-null    object
 1   Age             333 non-null    int64
 2   Gender          333 non-null    object
 3   Education       333 non-null    object
 4   Living_Area     333 non-null    object
 5   Marital_Status  333 non-null    object
 6   Family_Type     333 non-null    object
 7   Coronavirus     333 non-null    object
 8   1s              333 non-null    object
 9   2a              333 non-null    object
 10  3d              333 non-null    object
 11  4a              333 non-null    object
 12  5d              333 non-null    object
 13  6s              333 non-null    object
 14  7a              333 non-null    object
 15  8s              333 non-null    object
 16  9a              333 non-null    object
 17  10d             333 non-null    object
 18  11s             333 non-null    object
 19  12s             333 non-null    object
 20  13d             333 non-null    object
 21  14s             333 non-null    object
 22  15a             333 non-null    object
 23  16d             333 non-null    object
 24  17d             333 non-null    object
 25  18s             333 non-null    object
 26  19a             333 non-null    object
 27  20a             333 non-null    object
 28  21d             333 non-null    object
dtypes: int64(1), object(28)
memory usage: 75.6+ KB

In [4]:
df = data.dropna(axis = 0)
print(f"Before dropping all NaN values: {data.shape}")
print(f"After dropping all NaN values: {df.shape}")

Before dropping all NaN values: (333, 29)
After dropping all NaN values: (333, 29)

In [5]:
dictonary = {
        "1s":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "2a":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "3d":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "4a":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "5d":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "6s":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "7a":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "8s":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "9a":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "10d":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "11s":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "12s":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "13d":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "14s":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "15a":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "16d":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "17d":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "18s":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "19a":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "20a":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    },
        "21d":{
        "Did not apply to me at all":0,
        "Applied to me to some degree, or some of the time": 1,
        "Applied to me to a considerable degree or a good part of time":2,
        "Applied to me very much or most of the time": 3,
    }
}

In [6]:
df=df.replace(dictonary)
df.head()

,Timestamp,Age,Gender,Education,Living_Area,Marital_Status,Family_Type,Coronavirus,1s,2a,...,12s,13d,14s,15a,16d,17d,18s,19a,20a,21d
0,18/09/2022 19:41:35,26,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,1,3,...,1,2,0,0,0,0,0,1,2,3
1,18/09/2022 20:02:19,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,1,0,...,3,1,1,1,1,1,2,1,1,2
2,19/09/2022 12:31:29,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,0,0,...,0,0,1,1,0,1,0,0,0,0
3,19/09/2022 12:34:08,23,Male,Master's,"Urban(Town,City)",Unmarried,Joint,Yes,2,1,...,3,2,1,2,1,1,2,1,2,3
4,19/09/2022 12:45:44,24,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,1,1,...,0,1,0,0,0,0,1,1,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       333 non-null    object
 1   Age             333 non-null    int64
 2   Gender          333 non-null    object
 3   Education       333 non-null    object
 4   Living_Area     333 non-null    object
 5   Marital_Status  333 non-null    object
 6   Family_Type     333 non-null    object
 7   Coronavirus     333 non-null    object
 8   1s              333 non-null    int64
 9   2a              333 non-null    int64
 10  3d              333 non-null    int64
 11  4a              333 non-null    int64
 12  5d              333 non-null    int64
 13  6s              333 non-null    int64
 14  7a              333 non-null    int64
 15  8s              333 non-null    int64
 16  9a              333 non-null    int64
 17  10d             333 non-null    int64
 18  11s             333 non-null    int64
 19  12s             333 non-null    int64
 20  13d             333 non-null    int64
 21  14s             333 non-null    int64
 22  15a             333 non-null    int64
 23  16d             333 non-null    int64
 24  17d             333 non-null    int64
 25  18s             333 non-null    int64
 26  19a             333 non-null    int64
 27  20a             333 non-null    int64
 28  21d             333 non-null    int64
dtypes: int64(22), object(7)
memory usage: 75.6+ KB

In [8]:
depressionQ = df['3d']+df['5d']+df['10d']+df['13d']+df['16d']+df['17d']+df['21d']
anxietyQ = df['2a']+df['4a']+df['7a']+df['9a']+df['15a']+df['19a']+df['20a']
stressQ = df['1s']+df['6s']+df['8s']+df['11s']+df['12s']+df['14s']+df['18s']


df['total_depression'] = depressionQ*2
def depression_condition(x):
    if (x>=0 and x<=9):
        return "0"
    else :
        return "1"

df['depression_state'] = df['total_depression'].apply(depression_condition)


df['total_anxiety'] = anxietyQ*2
def anxiety_condition(x):
    if (x>=0 and x<=7):
        return "0"
    else :
        return "1"

df['anxiety_state'] = df['total_anxiety'].apply(anxiety_condition)


df['total_stress'] = stressQ*2
def stress_condition(x):
    if (x>=0 and x<=14):
        return "0"
    else :
        return "1"

df['stress_state'] = df['total_stress'].apply(stress_condition)

In [9]:
df.head()

,Timestamp,Age,Gender,Education,Living_Area,Marital_Status,Family_Type,Coronavirus,1s,2a,...,18s,19a,20a,21d,total_depression,depression_state,total_anxiety,anxiety_state,total_stress,stress_state
0,18/09/2022 19:41:35,26,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,1,3,...,0,1,2,3,18,1,20,1,12,0
1,18/09/2022 20:02:19,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,1,0,...,2,1,1,2,16,1,18,1,28,1
2,19/09/2022 12:31:29,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,0,0,...,0,0,0,0,4,0,8,1,6,0
3,19/09/2022 12:34:08,23,Male,Master's,"Urban(Town,City)",Unmarried,Joint,Yes,2,1,...,2,1,2,3,26,1,26,1,32,1
4,19/09/2022 12:45:44,24,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,1,1,...,1,1,0,0,6,0,6,0,8,0

In [10]:
df.to_csv('data_updated_clean.csv')